.main-nav {
    float: right;
}

.accordion-menu {
  h4.ui-state-default {
    font-size: 14px;
    border: 0;
    background: #fff;
    padding: 10px 25px 10px 10px;
  }
  h4.ui-accordion-header-active {
    border: 1px solid #d6bf13;
    background: #fadd06
  }
  .ui-accordion-header-icon {
    left: auto !important;
    right: 10px !important;
  }
  .feefo-faq-accordion, .ui-widget-content {
    border: 0;
    background: #aaaaab;
    padding: 0 !important;

    a {
      color: #fff;
      display: block;
      padding: 5px 10px;
    }
    a:hover, .active a {
      background: #8e8e90;
    }
  }
}